<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36294279002-hkgh29vg50eqttardpllev8nh1n3e3dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36294279002-hkgh29vg50eqttardpllev8nh1n3e3dg</string>
	<key>API_KEY</key>
	<string>AIzaSyB78Ckrk_wKaX1JrzIMNm8vaznFtbH87-w</string>
	<key>GCM_SENDER_ID</key>
	<string>36294279002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.epizy.skb3z9q8.uberApp</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-25274</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-25274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36294279002:ios:85be30c8c5e7003d1d3d63</string>
	<key>DATABASE_URL</key>
	<string>https://uber-clone-25274.firebaseio.com</string>
</dict>
</plist>